<launch>
       <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/>
       <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/>
       <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/>
</launch>
