<launch>
  <!-- Turtlebot Driver -->
  <node pkg="turtlebot_node" type="turtlebot_node.py" name="turtlebot_node" output="screen" respawn="true" args="--respawnable">
    <param name="bonus" value="false" />
    <param name="update_rate" value="30.0" />
    <param name="has_gyro" value="false" />
    <param name="min_abs_yaw_vel" value="0.05" />
  </node>
</launch>
