<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find b21_description)/b21.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="b21/state" />
  </node>

  <node pkg="rflex" type="b21" name="b21" output="screen">
    <param name="port" value="/dev/ttyUSB.A4001i9M" />
  </node>
  <group ns="/front_laser">
    <node pkg="sicktoolbox_wrapper" type="sicklms" name="front_laser"> 
      <param name="frame_id" value="/base_laser_front" />
      <param name="port" value="/dev/ttyUSB.FTCY3BKK" />
      <param name="baud" value="500000" />
    </node>
  </group>
  <group ns="/back_laser">
    <node pkg="sicktoolbox_wrapper" type="sicklms" name="back_laser"> 
      <param name="frame_id" value="/base_laser_back" />
      <param name="port" value="/dev/ttyUSB.FTEKRTR0" />
      <param name="baud" value="500000" />
    </node>
  </group>

<!--  <node pkg="tf" type="static_transform_publisher" name="b21_base_link" args="0 0 0 0 0 0  /odom /base 100" />   -->

  <node pkg="tf" type="static_transform_publisher" name="b21_base_link1" args="0.0 0 0 0 0 0  /laser /base_laser_front 100" />  
  <node pkg="tf" type="static_transform_publisher" name="b21_base_link2" args="-0.18 0 0 3.1415 0 0  /laser /base_laser_back 100" />  

  <!--- Run Move Base and Robot Pose EKF -->
  <!-- include file="$(find b21)/config_kmcl/move_base_b21.launch" / -->

</launch>

