<launch>
	<!-- for the toaster -->
<!--	<rosparam file="$(find opencupboard_launch)/yaml/toaster.yaml" command="load" />	
-->
	<!-- for the cabinet-->
	<rosparam file="$(find opencupboard_launch)/yaml/cabinet.yaml" command="load" />	


	<!-- for the cabinet flipped upside down -->
<!--	<rosparam file="$(find opencupboard_launch)/yaml/cabinet_flipped.yaml" command="load" />
-->
	<!-- tabletop manipulation -->
	<include file="$(find pr2_tabletop_manipulation_launch)/launch/pr2_tabletop_manipulation.launch" />

	<!-- ee_cart_imped -->
	<include file="$(find ee_cart_imped_launch)/launch/load_ee_cart_imped.launch" />

	<!-- open toaster -->
	<include file="$(find opencupboard_launch)/launch/open_toaster.launch" />

</launch>